#top-nav > .main > .tabs ul > li {
    border-top: none;
    border-bottom: none;
}


#search-wrapper {
    display: flex;
    position: relative;
    margin: var(--top-nav-margin);
}

#search-wrapper #search {
    padding-left: var(--breadcrumbs-link-horizontal-padding);
}

#search-wrapper .summary {
    position: absolute;
    top: 100%;
    font-size: smaller;
    padding-left: 0.25rem;
}

#page-header .description {
    line-height: 1.4;
}

#no-affiliation-or-endorsement {
    text-align: center;
    border-top: dashed medium #DDDDDD;
}

#no-affiliation-or-endorsement p {
    font-style: italic;
}

#no-affiliation-or-endorsement a:where(:not(:hover)) {
    text-decoration: none;
}

.cards {
    justify-content: center;
    margin-top: -2em;
    margin-left: 0;
}

.cards .card {
    box-sizing: border-box;
    flex: 0 1 22em;
    padding-bottom: 0.4em;
    margin-top: 4em;
    scroll-margin-top: 2em;
}

@media (max-width: 27em) {
    .cards .card {
        margin-left: 0;
        margin-right: 0;
    }
}

.cards .card h1 {
    margin-bottom: 0;
}

.cards .card .nickname {
    font-size: larger;
    opacity: revert;
    scroll-margin-top: 0.15em;
}

.cards .card a:where(:not(:is(:hover, :focus))) {
    text-decoration: none;
}

.cards .card .nickname a {
    color: inherit;
}

.cards .card .tags {
    justify-content: flex-start;
    margin-top: 0;
}

.cards .card .tags.contains-groups {
    flex-flow: row wrap;
}

.cards .card .tags .tag {
    opacity: revert;
}

.cards .card .tags .tag:is(.social, .highlights, .funding) {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.cards .card .tags .tag:is(.social, .highlights, .funding) .h {
    flex: none;
    width: 1em;
    margin-right: 0.15em;
    text-indent: -10000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cards .card .tags .tag.social[data-social-kind="twitter"] .h {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/twitter.svg");
}

.cards .card .tags .tag.social[data-social-kind="mastodon"] .h {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/mastodon.svg");
    width: 0.8em;
}

.cards .card .tags .tag.social[data-social-kind="github"] .h {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/github.svg");
}

.cards .card .tags .tag.social[data-social-kind="gitlab"] .h {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/gitlab.svg");
}

.cards .card .tags .tag.social[data-social-kind="bitbucket"] .h {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/bitbucket.svg");
}

.cards .card .tags .tag.social[data-social-kind="patreon"] .h {
    background-image: url("https://workshop.hexstream.xyz/svg/remakes/patreon.svg");
}

.cards .card .tags .tag.social[data-social-kind="linkedin"] .h {
    background-image: url("https://workshop.hexstream.xyz/svg/remakes/linkedin.svg");
    width: 1.1em;
    margin-right: 0.2em;
}

.cards .card .tags .tag.social[data-social-kind="youtube"] .h {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/youtube.svg");
}

.cards .card .tags .tag.social[data-social-kind="reddit"] .h {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/reddit.svg");
}

.cards .card .tags .tag.highlights .h {
    background-image: url("https://global.hexstream.dev/non-free/images/lightning-bolt_shaded.svg");
    margin-left: -0.1em;
    margin-right: 0;
}

.cards .card .tags .tag.funding .h {
    background-image: url("https://global.hexstream.dev/non-free/images/heart.svg");

}

.cards .card .tags .tag.social[data-social-kind="keybase"] .h {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/keybase.svg");
}

.cards .card .tags .tag.hv.highlights > .v {
    white-space: revert;
}

.cards .card .tags .tag.hv.highlights > .v > :is(a, span) {
    white-space: nowrap;
}

.cards .card .tags .tag.secondary:where(:not(:hover)) {
    opacity: 0.5;
}

.cards .card .tags.addenda {
    opacity: 0.5;
}

.cards .card .options {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-bottom: 0.5em;
    width: 3em;
    opacity: 0.5;
}

.cards .card:target .options,
.cards .card .nickname:target ~ .options {
    display: block;
}

.cards .card .options:hover {
    opacity: revert;
}

.cards .card .options > option:first-child {
    display: none;
}

.cards .card.blocked {
    display: none;
}

.cards .card.blocked:target {
    display: block;
}

.cards .card.blocked .full-name a {
    color: red;
}

.cards .card .options option[value="unblock"] {
    display: none;
}

.cards .card.blocked .options option[value="unblock"] {
    display: block;
}

.cards .card.blocked .options option[value="block"] {
    display: none;
}


.cards :target .nickname,
.cards .nickname:target {
    color: green;
}

.cards .card .nickname a {
    color: inherit;
}


.cards .card .matches {
    color: green;
}

.cards .card .matches a {
    color: inherit;
}

.cards .card .highlights .matches a {
    text-decoration: revert;
}



@media (max-width: 20.625em) {
     .unless-miser {
         display: none;
     }

     .unless-miser[data-alt] {
         display: inline;
     }

     .unless-miser[data-alt] > span {
         display: none;
     }

     .unless-miser[data-alt]::after {
         content: attr(data-alt);
     }
}


.long {
    white-space: revert !important;
}


/* Preferences */

html.fullname\.visibility\=hide .cards .card .full-name,
html.nickname\.visibility\=hide .cards .card .nickname,
html.website\.visibility\=hide .cards .card .website,
html.blog\.visibility\=hide .cards .card .blog,
html.accounts\.visibility\=hide .cards .card .tags .tag.social,
html.\/accounts\/coding\/github\.visibility\=hide .cards .card .tag.social[data-social-kind="github"],
html.\/accounts\/coding\/gitlab\.visibility\=hide .cards .card .tag.social[data-social-kind="gitlab"],
html.\/accounts\/coding\/bitbucket\.visibility\=hide .cards .card .tag.social[data-social-kind="bitbucket"],
html.\/accounts\/microblogging\/twitter\.visibility\=hide .cards .card .tag.social[data-social-kind="twitter"],
html.\/accounts\/microblogging\/mastodon\.visibility\=hide .cards .card .tag.social[data-social-kind="mastodon"],
html.\/accounts\/videos\/youtube\.visibility\=hide .cards .card .tag.social[data-social-kind="youtube"],
html.\/accounts\/cv\/linkedin\.visibility\=hide .cards .card .tag.social[data-social-kind="linkedin"],
html.\/accounts\/keybase\.visibility\=hide .cards .card .tag.keybase,
html.highlights\.visibility\=hide .cards .card .tag.highlights,
html.funding\.visibility\=hide .cards .card .tag.funding,
html.portal\.visibility\=hide .cards .card .tag.portal {
    display: none;
}

.cards .card .tags .tag.social[data-social-kind="reddit"] {
    display: none;
}

html.\/accounts\/news\/reddit\.visibility\=show .cards .card .tags .tag.social[data-social-kind="reddit"] {
    display: flex;
}


html.\/blocklist\/blocked\.visibility\=show .cards .card.blocked {
    display: block;
}
