main ul ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.labelled-control {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.controls-group.horizontal {
    display: flex;
    flex-flow: row;
}

.controls-group.horizontal > * + * {
    margin-left: 0.4em;
}


#block #blocklist {
    display: none;
}

#block #blocklist:target {
    display: block;
}

#block #blocklist .empty {
    font-style: italic;
}
