.notice.note + section {
    margin-top: 1.5em;
}

#tenets > .tabs {
    justify-content: center;
}

#tenets > .tabs ul li,
#tenets > .tabs ul {
    flex: 0 1 auto;
}

@media (max-width: 39.25em) {
    #tenets > .tabs {
        justify-content: stretch;
    }

    #tenets > .tabs ul li,
    #tenets > .tabs ul {
        flex: 1 1 auto;
    }
}

#tenets .note {
    text-align: center;
}

.cards.tenets {
    align-items: flex-start;
    margin-left: -1em;
}

.cards.tenets .card {
    margin-top: 1em;
}


a.tenet {
    color: green;
}

#footnotes #footnote_deceased-persons mark {
    background: initial;
    font-style: italic;
}

#structure-of-an-entry > ol > li + li {
    margin-top: 0;
}
